@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-core: #222;
  --stroke-core: #666;
  --bg-searchBar: #4f4f4f;
  --text-searchBar: #9a9a9a;
  --stroke-focusVisible: #e1bd00;
  --color-accent: #e1bd00;
  --br-core: 0.5rem;
  --ff: "DM Sans", sans-serif;
}

body {
  background-color: var(--bg-core);
  color: white;
  font-family: var(--ff);
}

input,
textarea,
button {
  border: 0;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}

button:focus-visible {
  box-shadow: 0 0 0 4px var(--stroke-focusVisible);
}

header {
  display: flex;
  align-items: center;
  gap: 7rem;
  padding: 1rem 8rem;
  border-bottom: 1px solid var(--stroke-core);
}

.logo {
  font-weight: bold;
  font-size: 2rem;
}

.search {
  position: relative;
  width: 400px;
}

.search > div:nth-of-type(1) {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
}

.search > div:nth-of-type(1) > * {
  color: var(--text-searchBar);
}

.search input {
  width: 100%;
  padding: 0.75rem 0;
  padding-left: calc(16px + 0.75rem + 0.5rem);
  padding-right: 0.5rem;
  border-radius: var(--br-core);
  color: var(--text-searchBar);
  background-color: var(--bg-searchBar);
}

.search input:focus {
  color: black;
  background-color: white;
}

.create-note {
  width: 400px;
  display: flex;
  align-items: center;
  margin: 2rem auto 3rem;
  padding: 0.75rem;
  color: white;
  text-align: left;
  cursor: text;
  border-radius: var(--br-core);
  border: 1px solid var(--stroke-core);
  background-color: transparent;
}

.create-note > :first-child {
  margin-right: 0.75rem;
}

.notes-grid {
  max-width: 881.6px;
  margin: 0 auto 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 2rem;
}

.notes-grid-empty {
  text-align: center;
}

.note {
  position: relative;
  padding: 1.75rem 1.5rem;
  border: 1px solid var(--stroke-core);
  border-radius: var(--br-core);
}

.note h3,
.note p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.note h3 {
  margin-bottom: 1rem;
}

.note-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding: 0.55rem 1.5rem;
  border-bottom-left-radius: var(--br-core);
  border-bottom-right-radius: var(--br-core);
  background-color: var(--bg-searchBar);
  transition: 0.15s all;
}

.note:hover .note-actions,
.note-actions:focus-within {
  opacity: 1;
}

.note-actions > button {
  padding: 0.25rem 0.5rem;
  border-radius: var(--br-core);
  background-color: transparent;
  transition: 0.15s all;
}

.note-actions .note-edit:hover {
  background-color: white;
}

.note-actions .note-delete:hover {
  background-color: red;
}

.note-actions > button:active {
  transform: scale(0.96);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.note-input-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
  padding: 1.75rem 1.5rem;
  border-radius: var(--br-core);
  border: 1px solid var(--stroke-core);
  background-color: var(--bg-core);
}

.note-input-modal > input,
.note-input-modal > textarea {
  width: 100%;
  margin-bottom: 1rem;
  color: white;
  background-color: transparent;
}

.note-input-modal > input {
  font-size: 18.72px;
  font-weight: bold;
}

.note-input-modal > textarea {
  resize: vertical;
  height: 6rem;
}

.note-input-modal .note-actions {
  opacity: 1;
  gap: 0;
  transition: none;
}

.note-input-modal .note-actions button {
  padding: 0.5rem 1rem;
  background-color: var(--color-accent);
}

.note-input-modal .note-actions button:focus-visible {
  --stroke-focusVisible: rgb(255, 248, 214);
}

/* Media queries */
@media (max-width: 768px) {
  header {
    justify-content: space-between;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .notes-grid {
    gap: 1rem;
    padding-inline: 0.75rem;
  }
}

@media (max-width: 425px) {
  header {
    gap: 2rem;
  }

  .logo {
    font-size: 1.75rem;
  }

  .create-note {
    width: 90vw;
  }

  .note-input-modal {
    width: 90vw;
  }
}
